#navbar{
    border: 5px solid rgb(250, 58, 154);
    background-color: lightgrey;
    font-family: 'Itim';
}

.navbar-nav > li >a{
    font-size: 40px;
}
.navbar-nav > li{
    margin-left: 10px;
    margin-right: 10px;
}
.navImage{

    width: 10vh;
}
#mainDiv{
    background-color: rgb(63, 116, 249);
}
#mainDivText{
    font-family: 'Josefin Sans';
    font-size: 60px;
    padding: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}
#mainDivImage{
    align-items: center;
    justify-content: center;
    padding: 50px;
}
#mainImage{
    width: 300px;
    height: 300px;
}
#seconderyDiv{
    font-family: 'Josefin Sans';
    font-size: 60px;
    background-color: white;
}
.social{
    text-decoration: none;
    color: black;
}
.seconderyImageDiv{
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
}
.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    width: 100%;
    height: 20%;
}
body {
    height: 100vh;
}

.footImage{
    width: 100px;
    height: 100px;

}
.footDivFlex{
    display: flex;
    align-items:center;
}
.footerText{
    font-family: 'Josefin Sans';
    font-size: 40px;
}
#myFooter{
    background-color: lightgrey;
}
.otazka{
    background-color: #919699;
    height: 150px;
    color: rgb(250, 58, 154);
    font-family: 'Itim';
    font-size: 50px;
    display: flex;
    align-items: center;

}
.odpoved{
    background-color: white;
    height: 150px;
    display: flex;
    align-items: center;
    font-size: 50px;
}
.textOdpoved{
    margin-left: 36.6px;
    color: black;
    text-decoration: none;
    font-family: 'Itim';
}
.otaznik{
    font-size: 60px;
    margin-right: 10px;
    color: rgb(250, 58, 154);
    text-decoration: none;
}
.nabidkaImg{
width: 220px;
height: 220px;
}
.nabidkaDiv{
    align-items: center;
    text-align: start;
    background-color: rgb(171, 170, 170);
    font-family: 'Josefin Sans';
    font-size: 30px;
}
.nabidkaName {
    width: 100%; 
    background-color: rgb(104, 103, 103);
}

  
 
.kontaktDiv{
    background-color:#919699;
    font-size: 40px;
}
.kontaktImg{
    width: 135px;
    height: 135px;
}

@media only screen and (max-width: 730px) {
    .otazka{
        font-size: 20px;
        height: 80px;
    }
    .odpoved{
        height: 80px;
        font-size: 20px;
    }

}
@media only screen and (max-width: 1033px) {
    .seconderyText{
        display: none;
    }

}
@media only screen and (max-width: 1021px) {
    .konaktDivRow{
        text-align: center;
    }

}